
body {

    background-image: url("gray-blue-monodiag.png");
    font-family: "Calibri Light", sans-serif;
}

header{
    height:100px;
    width:auto;
    background:url("top_background.jpg");

    )
}
h1 {
    text-align: center;
    font-size: 30px;
    color: #9bc3e6;
}
h2{
    font-size: 25px;
    color:#9bc3e6 ;
}
p {
    font-size: 20px;
    color: rgba(12, 6, 6, 0.45);
}

a{
    color: black;
    text-decoration: none;

}
h1 a:visited{
    color: rgba(8, 101, 177, 0.77);
}
h1 a:hover{
    color: #9bc3e6 ;
}
nav{
    position: relative;
    height:40px;


}

 ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left:50%;
    float:left;
    text-align: center;
 }

 ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}
nav a{

    display: block;
    position: relative;
    width: 5em;
    padding:10px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border-style: none;
    text-decoration: none;
    color: #333;
    text-align: center;
}

ul a:hover{
    background-color: #333;
    color: #f4f4f4;
}

.SocialNetwork img{

    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

img{
    height: 250px;
    width: 250px;

}
audio{
    margin: -50px -255px;
}
footer p{
    color: darkgrey;
    text-align: center;
}


